/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #1f2937;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #1f2937;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: #1f2937;
  font-size: 15px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #3b82f6;
}

/* HERO SECTION */
.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.hero-sub {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 8px;
}

.hero-title {
  font-size: 48px;
  color: #111827;
  margin-bottom: 16px;
}

.hero-desc {
  max-width: 600px;
  line-height: 1.6;
  color: #4b5563;
  margin-bottom: 24px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

/* BUTTONS */
.btn {
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.primary {
  background-color: #3b82f6;
  color: #ffffff;
}

.secondary {
  background-color: transparent;
  color: #3b82f6;
  border: 2px solid #3b82f6;
}

/* ABOUT SECTION */
#about {
  padding: 60px;
  background-color: #f9fafb;
}

#about h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#about p {
  max-width: 700px;
  line-height: 1.6;
  margin-bottom: 14px;
  color: #374151;
}

/* SKILLS SECTION */
#skills {
  padding: 60px;
}

#skills h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 700px;
}

.skill {
  padding: 10px 16px;
  border: 2px solid #3b82f6;
  border-radius: 20px;
  font-size: 14px;
}

.skill ul{
  color: #6b7280;
}

/* PROJECTS SECTION */
#projects {
  padding: 60px;
  background-color: #f9fafb;
}

#contact{
  padding: 60px;
}
